/*mobile*/
@media(max-width:768px){
    .dexttopbanner, .tabbanner{
        display: none;
    }
    .mobbanner{
        display: block;
        position: relative;
    }
    .mobbanner>header{
        background: linear-gradient(to right, #159957,#155799);
        padding: 10px;
    }
    .mobbanner>header>nav{
        text-align: center;
    }
    .mobbanner>header>nav>ul>li{
        padding: 20px;
    }
    .mobbanner>header>nav>ul>li:hover{
        background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    }
    .mobbanner>header>nav>ul>li>a{
        color: #fff;
        text-decoration: none;
    }
    .mobbanner>video{
        width: 100%;
    }
    .mobbanner>h1{
        position: absolute;
        font-size: 55px;
        top: 50%;
        left: 20%;
        color: #159957;
        text-shadow: 2px 2px 2px #000;
    }
    [class*="col"]{
        width: 100%;
    }


}

/*tab*/
@media(min-width:769px) and (max-width:1024px){  /*tablet*/
    .dexttopbanner, .mobbanner{
        display: none;
    }
    .tabbanner{
        display: block;
        overflow: hidden;
        position: relative;
    }
    .tabbanner>header{
        background: linear-gradient(to right,#2193b0,#6dd5ed);
        padding: 10px;
    }
    .tabbanner>header>nav{
        text-align: center;
    }
    .tabbanner>header>nav>ul>li{
        display: inline-block;
        padding: 20px;
        border-radius: 2px;
    }
    .tabbanner>header>nav>ul>li:hover{
        background: #fff;
    }
    .tabbanner>header>nav>ul>li:hover a{
        color: #2193b0;
    }  
    .tabbanner>header>nav>ul>li>a{
        color: #fff;
        text-decoration: none;
    }
    .tabbanner>video{
        width: 100%;
    }
    .tabbanner>h1{
        position: absolute;
        top: 50%;
        left: 20%;
        font-size: 60px;
        color: #fff;
        text-shadow: 3px 3px 2px green;
    }

}